<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">

    <div class="ui grid">
        <div class="row">
            <div class="six wide column">
                <h1>Questions</h1>
            </div>
            <div class="six wide column">
                <a th:href="@{/questions/new}">
                    <button class="ui right floated button">Add Question</button>
                </a>
            </div>
        </div>

        <div class="ui container">
            <form class="ui only my questions form" method="get">
                <div class="two fields">
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="mine"/>
                            <label>Only my questions</label>
                        </div>
                    </div>
                    <button class="ui button" type="submit">Filter</button>
                </div>
            </form>
        </div>

        <div class="row">
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>Question Name</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th>Votes</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question :${questions}">
                    <td><a th:href="@{'/questions/' + ${question.id}}" th:text="${question.description}"/></td>
                    <td><div><a th:href="@{'/questions/' + ${question.id}}">Closes in <span th:text="${question.timeout}"></span></a></div></td>
                    <td><a th:href="@{'/questions/' + ${question.id}}" th:text="*{question.owner.name}" /></td>
                    <td><a th:href="@{'/questions/' + ${question.id}}" th:text="${question.voteCount}" /></td>
                </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</th:block>
</html>