<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var mine = [[${mine}]];
    if(mine == true){
        jQuery(function ($) {
            $('input[name="mine"]').attr("checked", true);
        })
    }

    var timeout = [[${timeList}]];

    function startTimer(duration, display) {
        var timer = duration;
        var hours;
        var minutes;
        var seconds;

        setInterval(function () {
            hours = parseInt(timer / 3600) % 24;
            minutes = parseInt((timer % 3600) / 60);
            seconds = parseInt(timer % 3600 ) % 60;
            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.text("Closes in " + hours + ":" + minutes + ":" + seconds);

            if (--timer < 0) {
                clearInterval(timer);
                display.text("Closed");
            }
        }, 1000);
    }

    jQuery(function ($) {

        var durationInSeconds = 0;
        for(var id in timeout) {
            if (timeout.hasOwnProperty(id)) {
                durationInSeconds = timeout[id] / 1000;
                var display = $('.timer[data-question=' + id + ']');
                startTimer(durationInSeconds, display);
            }
        }

    });

    /*]]>*/
</script>

    <div class="ui grid">
        <div class="row"></div>
        <div class="row">
            <div class="six wide column">
                <h1>Questions</h1>
            </div>
            <div class="six wide column">
                <a th:href="@{/questions/new}">
                    <button class="ui right floated button">Add Question</button>
                </a>
            </div>
        </div>

        <div class="ui container">
            <div class="ui segment">
            <form class="ui only my questions form" method="get">
                <div class="two fields">
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="mine"/>
                            <label>Only my questions</label>
                        </div>
                    </div>
                    <button class="ui button" type="submit">Filter</button>
                </div>
            </form>
            </div>
        </div>

        <div class="row">
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>Question Name</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th>Votes</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question :${questions}">
                    <td><a th:href="@{'/questions/' + ${question.id}}" th:text="${question.description}"/></td>
                    <td><div><a th:href="@{'/questions/' + ${question.id}}"><span data-th-attr="data-question=${question.id}" class="timer" ></span></a></div></td>
                    <td><a th:href="@{'/questions/' + ${question.id}}" th:text="*{question.owner.name}" /></td>
                    <td><a th:href="@{'/questions/' + ${question.id}}" th:text="${question.voteCount}" /></td>
                </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</th:block>
</html>