<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var timeout = [[${remainingTime}]];
    var questionAnswered = [[${answered}]];

    if (questionAnswered) {
        jQuery(function ($) {
            $("#vote").prop("disabled", true);

            $('input[name="choiceId"]').attr('disabled', 'disabled');

        });
    }

    function disableTimeout(){
//        if (questionAnswered || timeout <= 0) {
            jQuery(function ($) {
                $("#vote").prop("disabled", true);

                $('input[name="choiceId"]').attr('disabled', 'disabled');

            });
//        }
    }

    function startTimer(duration, display) {
        var timer = duration;
        var hours;
        var minutes;
        var seconds;

        setInterval(function () {
            hours = parseInt(timer / 3600) % 24;
            minutes = parseInt((timer % 3600) / 60);
            seconds = parseInt(timer % 3600 ) % 60;

            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.text(hours + ":" + minutes + ":" + seconds);

            if (--timer < 0) {
                clearInterval(timer);
                display.text("sure doldu");
                disableTimeout();

            }
        }, 1000);
    }

    jQuery(function ($) {
        var durationInSeconds = timeout / 1000;
        var display = $('#timer');
        startTimer(durationInSeconds, display);
    });

    /*]]>*/
</script>

    <div class="row">
        <h1>Answering a question</h1>
        <div class="ui container">

            <form class="ui answer form" method="post" th:action="@{/answers}" th:object="${question}">
                <div class="grouped fields">

                    <input type="hidden" name="id" th:value="*{id}" th:data-questionid="${question.id}" />

                    <label>Owner</label>
                    <div class="description" >
                        <span th:text="*{owner.name}"></span>
                    </div>

                    <label>Desc</label>
                    <div class="description">
                        <span th:text="*{description}"></span>
                    </div>

                    <div class="field">
                        <input type="hidden" name="id" th:value="*{id}" />
                        <div class="ui list">
                            <div class="item" th:each="choice: *{choices}">
                                <input type="radio" name="choiceId"
                                       th:value="${choice.id}" th:text="${choice.text}" th:checked="(${choice.id} == ${selectedChoice})" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                   <div id="timer"></div>
                </div>

                <p th:text="${answered}"></p>

                <button class="ui right floated vote button" id="vote" th:data-content="You have voted before" type="submit">Vote</button>

                <a th:href="@{'/questions/' + ${question.id} + '/chart'}">
                    <button class="ui right floated vote button" id="seeResult">See Result</button>
                </a>
            </form>

            <div class="ct-chart">
            </div>

        </div>
    </div>
</th:block>
</html>