<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">

    <div class="row">
        <h1>Answering a question</h1>
        <div class="ui container">
            <form class="ui answer form" method="post" th:action="@{/answers}" th:object="${question}">
                <div class="grouped fields">

                    <label>Owner</label>
                    <div class="description">
                        <span th:text="*{owner.name}"></span>
                    </div>

                    <label>Desc</label>
                    <div class="description">
                        <span th:text="*{description}"></span>
                    </div>

                    <div class="field">
                        <input type="hidden" name="id" th:value="*{id}" />
                        <div class="ui list">
                            <div class="item" th:each="choice: *{choices}">
                                <input type="radio" name="choiceId"
                                       th:value="${choice.id}" th:text="${choice.text}" />
                            </div>
                        </div>
                    </div>

                </div>
                <button class="ui vote button" type="submit">Vote</button>
            </form>
        </div>
    </div>
</th:block>
</html>